<div class="loader loader-route" ng-show="LoadStatus == 0"></div>

<div style="margin: 0 10px; display: flex; flex-direction: column; height: 100%" ng-show="LoadStatus == 1">
    <!-- Page Header -->
    <ul class="breadcrumb">
        <li><a href="#!/community">Community</a></li>
        <li class="active">Chat</li>
    </ul>
    
    <!-- Page Content -->
    <div style="display: flex; flex-grow: 1; height: calc(100% - 140px)">
        
        <!-- Channels -->
        <div class="panel panel-default" style="width: 250px; max-height: calc(100% - 14px); align-self: start">
            <div class="panel-heading">Channels</div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="room in ChatRooms">
                    <span class="badge">{{room.NewMessages}}</span>
                    {{room.Name}}
                </li>
            </ul>
        </div>
        
        <!-- Spacer -->
        <div style="width: 20px"></div>

        <!-- Chat View/Input -->
        <div style="flex-grow: 1; height:100%">
            <div class="panel panel-default" style="height: calc(100% - 80px)">
                <div class="panel-heading">{{ChatHeader}}</div>
                <div class="panel-body" style="overflow-y: auto; height: calc(100% - 42px)">
                    <div ng-repeat="message in ChatMessages">{{message.Name}}: {{message.Message}}</div>
                </div>
            </div>
            
            <div class="input-group" style="border: 1px solid #464545; border-radius: 4px;background-color: #303030;">
                <input class="form-control" style="background-color: #303030; color: #ffffff" type="text">
                <span class="input-group-btn" style="background-color: #464545">
                    <button class="btn btn-default" type="button">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>
