<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="LanPlatform">
<head>
    <title>GS Lans Platform</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/lanplatform.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/rzslider.min.css" />

    <!-- Scripts -->
    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-resource.min.js"></script>
    <script src="/scripts/angular-route.min.js"></script>
    <script src="/scripts/angular-sanitize.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="/scripts/rzslider.min.js"></script>
    <script src="/scripts/lanplatform.js"></script>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default" style="z-index: 1000">
        <div class="container-fluid navContainer">
            <!-- Title -->
            <div class="navTitle">
                GS Lans Platform
            </div>

            <!-- Section Nav-->
            <ul class="nav navbar-nav" ng-controller="NavButtonController">
                <!-- Home Nav -->
                <li ng-show="Buttons['home'].Enabled">
                    <a class="navButton" href="#!/">Home</a>
                    <div class="navButtonStatus" ng-class="Buttons['home'].Status"></div>
                </li>

                <!-- Library Nav -->
                <li class="dropdown" ng-show="Buttons['library'].Enabled">
                    <a class="dropdown-toggle navButton" href="#!/library/apps">Library</a>
                    <div class="navButtonStatus" ng-class="Buttons['library'].Status"></div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navButton" href="#!/library/apps">
                                <i class="fa fa-cog faPadL" aria-hidden="true"></i>
                                Apps
                            </a>
                        </li>
                        <li>
                            <a class="navButton" href="#!/library/loaners">
                                <i class="fa fa-keyboard-o faPadL" aria-hidden="true"></i>
                                Loaner Accounts
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Ambience Nav -->
                <li class="dropdown" ng-show="Buttons['ambience'].Enabled">
                    <a class="navButton" href="#!/ambience">Ambience</a>
                    <div id="navStatusAmbience" class="navButtonStatus" ng-class="Buttons['ambience'].Status"></div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navButton" href="#!/ambience/music">
                                <i class="fa fa-music faPadL" aria-hidden="true"></i>
                                Music
                            </a>
                        </li>
                        <li>
                            <a class="navButton" href="#!/ambience/lighting">
                                <i class="fa fa-lightbulb-o faPadL" aria-hidden="true"></i>
                                Lighting
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Community Nav -->
                <li class="dropdown" ng-show="Buttons['community'].Enabled">
                    <a class="dropdown-toggle navButton" href="#!/community/users">Community</a>
                    <div id="navStatusCommunity" class="navButtonStatus" ng-class="Buttons['community'].Status"></div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navButton" href="#!/community/users">
                                <i class="fa fa-users faPadL" aria-hidden="true"></i>
                                Users
                            </a>
                        </li>
                        <li>
                            <a class="navButton" href="#!/community/chat">
                                <i class="fa fa-comments-o faPadL" aria-hidden="true"></i>
                                Chat
                            </a>
                        </li>
                        <li>
                            <a class="navButton" href="#!/community/leaderboards">
                                <i class="fa fa-bar-chart faPadL" aria-hidden="true"></i>
                                Leaderboards
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Admin Nav -->
                <li class="dropdown" ng-show="Buttons['admin'].Enabled">
                    <a class="dropdown-toggle navButton" href="#!/admin">Admin</a>
                    <div id="navStatusAdmin" class="navButtonStatus" ng-class="Buttons['admin'].Status"></div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="navButton" href="#!/admin/news">
                                <i class="fa fa-newspaper-o faPadL" aria-hidden="true"></i>
                                News
                            </a>
                        </li>
                        <li>
                            <a class="navButton" href="#!/admin/library">
                                <i class="fa fa-book faPadL" aria-hidden="true"></i>
                                Library
                            </a>
                        </li>
                        <li>
                            <a class="navButton" href="#!/admin/community">
                                <i class="fa fa-users faPadL" aria-hidden="true"></i>
                                Community
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        
            <div class="navSpacer">
            
            </div>
        
            <div ng-controller="NavProfileController" style="display:inline-flex">
                <div class="navAccount">
                    {{DisplayName}}<br />
                    <a class="lanButton" href="#" ng-click="Logout()" ng-show="LoggedIn">Sign out</a>
                    <a class="lanButton" href="#" ng-click="Login()" ng-hide="LoggedIn">Sign in</a>
                </div>
        
                <div class="navAccountButtons">
                    <div class="navAccountButton LeftSide">
                        <a href="">
                            <img class="navAccountImage" ng-click="ViewAccount()" src="https://gslans.net/content_fixed/accounts/default_avatar.png" />
                        </a>
                    </div>
                    <div class="navAccountButton">
                        <a href="">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="navAccountButton RightSide">
                        <a href="">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="lanPage" ng-view></div>
    
    <div ng-controller="FooterController">
        <footer class="lanFooter" ng-show="FooterMode == 0">
            {{Version}}
        </footer>

        <footer class="lanFooter music" ng-show="FooterMode == 1">
            <div class="musicInfo">
                {{Song}}<br/>
                <span style="font-size: 10px; vertical-align: bottom; color: #999999">{{Artist}}</span>
            </div>
            <div class="musicControlPlay"><i class="fa fa-step-backward musicControlButton" aria-hidden="true"></i><i class="fa fa-play musicControlButton" aria-hidden="true" ng-show="ShowPlay"></i><i class="fa fa-pause musicControlButton" aria-hidden="true" ng-hide="ShowPlay"></i><i class="fa fa-step-forward musicControlButton" aria-hidden="true"></i>
            </div>
            <div class="musicControlPosition">
                <rzslider rz-slider-model="Position"
                          rz-slider-options="PositionSlider"></rzslider>
            </div>
            <div style="flex-grow: 0; padding-left: 12px; line-height: 1.55; font-size: 16px">
                <span style="vertical-align: middle">{{PositionText}} <span style="color: #999999">/ {{LengthText}}</span></span>
            </div>
            <div class="musicControlPlay"><i class="fa fa-volume-up musicControlButton" aria-hidden="true"></i>
            </div>
            <div class="musicControlVolume">
                <rzslider rz-slider-model="Volume"
                          rz-slider-options="VolumeSlider"></rzslider>
            </div>
        </footer>
    </div>


</body>
</html>
