<ul class="breadcrumb" style="margin-left: 10px; margin-right: 10px">
    <li><a href="#!/ambience">Ambience</a></li>
    <li class="active">Lighting</li>
</ul>

<div class="lanPageArea">
    <div class="panel panel-default">
        <div class="panel-heading">Lights</div>
        <div class="panel-body" style="padding: 0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Light</th>
                        <th>Brightness</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="light in Lights">
                        <td>{{light.DisplayName}}</td>
                        <td>{{light.Brightness}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>